---
export const prerender = false;
import Layout from "../layouts/Layout.astro";
import ReaderClientWrapper from "../components/ReaderClientWrapper";

const url = new URL(Astro.request.url);
const searchParams = Object.fromEntries(url.searchParams.entries());

const book = searchParams.book;
---

<Layout>
  {
    !book ? (
      <span>Missing book parameter</span>
    ) : (
      <ReaderClientWrapper client:only bookUrl={book} />
    )
  }
</Layout>
