---
import { CustomProviders } from "@/components/CustomProviders";
import { Font } from "astro:assets";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro Readium</title>
    <Font cssVariable="--font-inter" preload />
    <style>
      .font-inter {
        font-family: var(--font-inter);
      }
    </style>
  </head>
  <body class="font-inter">
    <CustomProviders client:only>
      <slot />
    </CustomProviders>
  </body>
</html>

<style>
  html,
  body {
    color: var(--theme-text);
    background-color: var(--theme-background);
    height: 100%;
    margin: 0;
  }
</style>
